services:
  mcp-server:
    container_name: mcp-server
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - neo4j
    env_file:
      - .env
    restart: always
    user: "${UID}:${GID}"

  neo4j:
    container_name: neo4j
    image: neo4j:5
    restart: always
    ports:
      - "7474:7474"
      - "7687:7687"
    env_file:
      - .env
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs

volumes:
  neo4j_data:
  neo4j_logs:
